<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">

	<insert id="write">
	INSERT INTO 
	BOARD(
	    NO
	    , TITLE
	    , CONTENT
	)
	VALUES(
	    SEQ_BOARD_NO.NEXTVAL
	    , #{title}
	    , #{content}
	)
	</insert>
	
	<select id="selectList" resultType="com.kh.app.board.vo.BoardVo">
	SELECT *
	FROM BOARD
	</select>
	
	<select id="selectOne" resultType="com.kh.app.board.vo.BoardVo">
	SELECT *
	FROM BOARD
	WHERE NO = #{no}
	</select>
	
	<delete id="delete">
	DELETE 
	FROM BOARD
	WHERE NO = #{no}
	</delete>
	
	<update id="edit">
	UPDATE BOARD
    	SET
     	  TITLE = #{title}
        , CONTENT = #{content}
	WHERE NO = #{no}
	</update>
	
</mapper>