main{
    font-size: 24px;

    display: grid;
    grid-template-rows: 100px 50px 500px 50px 100px;
    grid-template-columns: 1fr;

    place-items: center center;
}

main > table > tbody > tr:hover {
    background-color: lightgray;
    cursor: pointer;
}